
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<h3>kendimiz oluşturdeuk bu viewvi</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Depatman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Arda</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Bilişim</td>
    </tr>
</table>